<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body id="for_service">
    {% include 'navbar.html'%}
    <div class="container" >
        <!-- <h1 id="values">{{users}}</h1> -->
            <div class="row" style="margin-top: 100px; margin-bottom: 50px;">
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-header h3" id="values"><center>CAR SERVICE</center></div>
                        <div class="card-body">
                            <form action="" method="post">
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label for="carserve" hidden>SERVICE FOR:</label>
                                    <input type="text" value="CAR" hidden name="carserve" class="form-control" required>
                                </div><br>  
                                <div class="form-group">
                                    <label for="date">SERVICE REQUIRED ON:</label>
                                    <input type="date" name="cardate" class="form-control" required>
                                </div><br>
                                <div class="form-group mt-2">
                                    <label for="address">SERVICE REQUIRED AT:</label>
                                    <select name="caraddress" id="hh" class="form-control" required>
                                        <option value="gdg">--SELECT--</option>
                                        <option value="Tirupur">TIRUPUR</option>
                                        <option value="Coimbatore">COIMBATORE</option>
                                        <option value="Chennai">CHENNAI</option>
                                        <option value="Madurai">MADURAI</option>
                                    </select>
                                </div><br>
                                <div class="form-group mt-2">
                                    <label for="contact no">CONTACT NO:</label>
                                    <input type="tel" name="carcno" maxlength="10" value="" minlength="10" class="form-control" required>
                                </div><br>
                                <div class="form-group mt-2">
                                    <label for="email">EMAIL</label>
                                    <input type="email" name="caremail" value="" class="form-control" required>
                                </div><br>   
                                <div class="form-group mt-2">
                                    <small>SERVICE INFORMATION</small><br>
                                    <small>ADDITIONAL DETAILS,IF ANY</small>
                                    <textarea name="caraddinf" id="" placeholder="Enter here..." class="form-control" rows="2" ></textarea>
                                </div><br>
                                
                                <div class="form-group mt-2 ">
                                    <button class="btn btn-primary btn-block form-control">BOOK SERVICE</button>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<style>
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;  
    }
</style>
</html>