<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html'%}
    <div class="container">
        <div class="row" style="margin-top: 100px;margin-bottom: 50px" >
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-header h3"><center>FOR HIRING!</center></div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">NAME</label>
                                <input type="text" name="ename" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="name">PASSWORD</label>
                                <input type="text" name="epass" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="address">LOCATION</label>
                                <select name="eaddress" id="" class="form-control" required>
                                    <option value="">--SELECT--</option>
                                    <option value="Tirupur">TIRUPUR</option>
                                    <option value="Coimbatore">COIMBATORE</option>
                                    <option value="Chennai">CHENNAI</option>
                                    <option value="Madurai">MADURAI</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="contact no">CONTACT NO:</label>
                                <input type="tel" name="econno" maxlength="10" minlength="10" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email">EMAIL</label>
                                <input type="email" name="eemail" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="qualification">QUALIFICATION</label>
                                <input type="text" name="equalification" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="job">JOB ROLE</label>
                                <select name="ejob" id="" class="form-control" required>
                                    <option value="">--SELECT--</option>
                                    <option value="AC">AC MECHANIC</option>
                                    <option value="FRIDGE">FRIDGE MECHANIC</option>
                                    <option value="WASHMACHINE">WASHING MACHINE MECHANIC</option>
                                    <option value="TV">TV</option>
                                    <option value="CAR">CAR MECHANIC</option>
                                    <option value="BIKE">BIKE MECHANIC</option>
                                    <option value="Electrician">ELECTRICIAN</option>
                                    <option value="Plumber">PLUMBER </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="experience">EXPERIENCE</label>
                                <input type="number" name="eexperience" placeholder="YEARS"  class="form-control" required>
                            </div>
                            
                            
                            <div class="form-group mt-3">
                                <button class=" btn btn-primary btn-block form-control">REGISTER NOW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    


</div>    
</body>
<style>
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>


  

</html> 